{% extends 'layout.html' %}

{% block content %}

{% for number in range(par_quantity) %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card border-primary" style="height:100%">

                <p>
                    {% for token in data.tokens[number] %}
                    <span tabindex="0"
                      id="anxiety_{{ word }}"
                      class="anx_open"
                      data-toggle="popover"
                      data-placement="top"
                      data-trigger="focus"
                      data-html="true"
                      title="{{ token }}"
                      data-content="<div id='anx-content'>Loading...</div>">{{ token }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-primary" style="height:100%">
                <p>{{ data.tran_pars[number] }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
       <button onclick="rep()">Replace</button>
 <script>
        function rep() {
            document.body.innerHTML =
                document.body.innerHTML
                .replace(/\n/g, '<br/>');
        }
 </script>
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

{% endblock %}
