{% extends 'layout.html' %}

{% block content %}
<div id="tran">
{% if current_user.is_authenticated %}
    <h4>HELLO THERE, {{ current_user.username }}!</h4>
{% else %}
    <h4>HELLO THERE, ANONYM!</h4>
</div>
{% endif %}
<div id="translation">
    {{ x }}
</div>

<div class="container">

    <div class="row">
        <div class="col-6">

            {% for word in fragmented %}
                <span tabindex="0"
                      id="anxiety_{{ word }}"
                      class="anx_open"
                      onclick="getTranslation({{ word }})"
                      data-toggle="popover"
                      data-placement="top"
                      data-trigger="focus"
                      data-html="true"
                      title="{{ word }}"
                      data-content="<div id='anx-content'>Loading...</div>">{{ word }}</span>
                 {% endfor %}
        </div>
        <div class="col-6">
            <p>{{ translation }}</p>
        </div>
    </div>

</div>
    <script src="{{ url_for('static', filename='/js/word_loader.js') }}"></script>
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

<script>
    $(function getTranslation(word){
        $('#anxiety').click(function(){
        load_info()
        })

    function load_info(){
        $.ajax({
           url: '/get',
            type: 'POST',
            dataType: 'json',
            success: function (data){
               $(translation).replaceWith(data)
            }
        });
    }
    });
</script>
{% endblock %}